<!DOCTYPE html>
<html>
{% load static %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

  <title> Sabor IF </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
    crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  <style>
    .header_section {
      background: #2c2c2c !important;
      /* Dark charcoal */
      padding: 15px 0;
    }

    .header_section .nav-link {
      color: #fff !important;
      /* white text */
      font-weight: 500;
    }

    .header_section .nav-link:hover {
      color: #f1c40f !important;
      /* gold hover */
    }

    .navbar-brand span {
      color: #ffffff !important;
      font-weight: 700;
    }

    /* Dropdown */
    .dropdown-menu {
      background-color: #2c2c2c !important;
      border: 1px solid #444;
    }

    .dropdown-item {
      color: #fff !important;
    }

    .dropdown-item:hover {
      background-color: #444 !important;
      color: #f1c40f !important;
    }

    /* Dropdown separator */
    .dropdown-divider {
      border-top: 1px solid #555;
    }

    /* Cart button */
    #cart-button {
      background-color: #f1c40f;
      border: none;
      color: #000;
      font-weight: bold;
    }

    #cart-button:hover {
      background-color: #d4ac0d;
    }

    /* Login button */
    .order_online {
      background-color: #f1c40f !important;
      color: #000 !important;
      font-weight: bold;
    }
  </style>


</head>

<body {% block class %}{% endblock class %}>

  <!-- header section strats -->

  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{% url 'Home' %}">
            <span>Sabor IF</span>
          </a>


        <!-- NAV TOGGLE -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class=""></span>
        </button>

        <!-- NAVIGATION MENU -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">

            <li class="nav-item {% block home_status %}{% endblock home_status %}">
              <a class="nav-link" href="{% url 'Home' %}">Início</a>
            </li>

            <li class="nav-item {% block menu_status %}{% endblock menu_status %}">
              <a class="nav-link" href="{% url 'Menu' %}">Cardápio</a>
            </li>

            <li class="nav-item {% block about_status %}{% endblock about_status %}">
              <a class="nav-link" href="{% url 'About' %}">Sobre</a>
            </li>

            <li class="nav-item {% block table_status %}{% endblock table_status %}">
              <a class="nav-link" href="{% url 'Book_Table' %}">Reservar Mesa</a>
            </li>

            <li class="nav-item {% block feedback_status %}{% endblock feedback_status %}">
              <a class="nav-link" href="{% url 'Feedback_Form' %}">Avaliações</a>
            </li>

          </ul>

          <!-- USER DROPDOWN + CART -->
          <div class="user_option">
            {% if user.is_authenticated %}

            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ user.username }}
              </button>

              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url 'user_profile' %}">
                  <i class="fa fa-user-circle"></i> Perfil
                </a>
                <a class="dropdown-item" href="{% url 'my_orders' %}">
                  <i class="fa fa-list"></i> Meus Pedidos
                </a>
                {% if user.is_staff %}
                <a class="dropdown-item" href="{% url 'admin_dashboard' %}">
                  <i class="fa fa-dashboard"></i> Painel Administrativo
                </a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="{% url 'logout' %}">
                  <i class="fa fa-sign-out"></i> Sair
                </a>
              </div>
            </div>

            <button id="cart-button" class="btn btn-primary ml-3">
              <i class="fa fa-shopping-cart"></i>
              Carrinho <span id="cart-count" class="badge badge-dark">{{ cart_count }}</span>
            </button>


            {% else %}
            <a href="{% url 'login' %}" class="btn order_online">Entrar</a>
            {% endif %}
          </div>

        </div>
      </nav>
    </div>
  </header>


  <!-- end header section -->
<! colocar aqui a mensagem por cima da imagem >
  {% block hero %}
  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>

    {% block slider %}{% endblock slider %}
  </div>
  {% endblock hero %}

  <!-- CART MODAL -->
  <div id="cart-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Seu Carrinho </h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ul id="cart-items-list"></ul>
        </div>

        <div class="modal-footer">
          <a href="{% url 'Cart' %}" class="btn btn-primary">Ir para o Carrinho </a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
  <!-- END CART MODAL -->

  {% block main %}{% endblock main %}

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Fale Conosco
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Localização
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Ligue +55 (79) 99999-9999
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  aluno.ifs@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Sabor IF
            </a>
            <p>
             Desenvolvido para oferecer praticidade e eficiência, este sistema foi pensado para facilitar pedidos, organizar informações e melhorar a experiência dos usuários, unindo tecnologia e funcionalidade em um só lugar.
            </p>
           
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Horário de Funcionamento
          </h4>
          <p>
            Todos os dias
          </p>
          <p>
            10:00 - 22:00
          </p>
        </div>
      </div>
      
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %} "></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %} "></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      const cartBtn = document.getElementById('cart-button');
      if (!cartBtn) {
        console.error("Cart button NOT FOUND");
        return;
      }

      cartBtn.addEventListener('click', function () {
        fetch('{% url "get_cart_items" %}')
          .then(response => response.json())
          .then(data => {
            console.log("Cart Data:", data);  // Debug log
            const cartList = document.getElementById('cart-items-list');
            cartList.innerHTML = '';

            if (data.items && data.items.length > 0) {
              data.items.forEach(item => {
                cartList.innerHTML += `
                <li>${item.name} - ${item.quantity} x $${item.price} = $${item.total}</li>
              `;
              });
            } else {
              cartList.innerHTML = '<li>Seu carrinho está vazio.</li>';
            }

            $('#cart-modal').modal('show');
          })
          .catch(error => console.error("Error fetching cart items:", error));
      });

    });
  </script>

</body>

</html>