{% extends "base.html" %}

{% load static %}
{% block class %}class="sub_page"{% endblock class %}
{% block feedback_status %}active{% endblock feedback_status %}
{% block main %}

<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Formulário de Feedback
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">

          {% if messages %}
          <div class="alert alert-info">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <form action="{% url 'Feedback_Form' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <input type="text" class="form-control" name="User_name" required placeholder="Seu Nome" />
            </div>
            <div class="mb-3">
              <textarea class="form-control" name="Description" rows="3" required
                placeholder="Descreva sua experiência aqui"></textarea>
            </div>
            <div>
              <select class="form-control nice-select wide" required name="Rating">
                <option value="" disabled selected>
                  Por favor, deixe sua avaliação
                </option>
                <option value="1">1 (Ruim)</option>
                <option value="2">2</option>
                <option value="3">3 (Ok)</option>
                <option value="4">4</option>
                <option value="5">5 (Excelente)</option>
              </select>
            </div>
            <div>
              <label class="form-label">Enviar Imagem:</label>
              <input class="form-control form-control-lg" name="Selfie" type="file">
            </div>
            <div class="btn_box">
              <button type="submit">
                Enviar
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main %}