{% extends "base.html" %}
{% block home_status %}active{% endblock home_status %}
{% load cms_tags %}
{% load static %}

{% block slider %}

<section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                <p class="lead mt-3">
                    No <strong>Restaurante do IFS</strong>, a boa comida acompanha a rotina de quem estuda e trabalha aqui. Cada refeição é preparada com cuidado, pensando no sabor, na qualidade e no bem-estar de toda a comunidade acadêmica.
                  </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
      </ol>
    </div>
  </div>

</section>

{% endblock slider %}

{% block main %}

<!-- offer section -->

<section class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container ">
      <div class="row">
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/o1.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Quintas Saborosas
              </h5>
              <h6>
                <span>20%</span> de Desconto
              </h6>
              <a href="">
                Fazer Pedido
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/o2.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Dias da Pizza
              </h5>
              <h6>
                <span>15%</span> de Desconto
              </h6>
              <a href="">
                Fazer Pedido
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- food section -->

<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Nosso Cardápio
      </h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">Todos</li>
      {% for i in list %}
      <li data-filter=".{{i.Category_name}}">{{i.Category_name}}</li>
      {% endfor %}
    </ul>

    <div class="filters-content">
      <div class="row grid">
        {% for j in items %}
        <div class="col-sm-6 col-lg-4 all {{j.Category}}">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/media/{{j.Image}}" alt="{{j.Image}}">
              </div>
              <div class="detail-box">
                <h5>{{j.Item_name}}</h5>
                <p>{{j.description}}</p>
                <div class="options">
                  <h6>R${{j.Price}}</h6>
                  <button class="btn btn-success add-to-cart" data-item-id="{{j.id}}">
                    Adicionar ao Carrinho
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="btn-box">
      <a href="">
        Ver Mais
      </a>
    </div>

  </div>
</section>

<!-- book section -->

<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Reservar uma Mesa
      </h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="{% url 'Book_Table' %}" method='POST'>{% csrf_token %}
            <div><input type="text" class="form-control" name="user_name" required placeholder="Seu Nome" /></div>
            <div><input type="text" class="form-control" name="phone_number" required placeholder="Telefone" /></div>
            <div><input type="email" class="form-control" name="user_email" placeholder="Seu Email" /></div>

            <div>
              <select class="form-control nice-select wide" required name="total_person">
                <option value="" disabled selected>Quantas pessoas?</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>

            <div><input type="date" required name="booking_data" class="form-control"></div>

            <div class="btn_box"><button>Reservar Agora</button></div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="map_container">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- client section -->

<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>O Que Dizem Nossos Clientes</h2>
    </div>

    <div class="carousel-wrap row ">
      <div class="owl-carousel client_owl-carousel">
        {% for k in review %}
        <div class="item">
          <div class="box">
            <div class="detail-box">
              <p>{{k.Description}}</p>
              <h6>{{k.User_name}}</h6>
              <p>Avaliação: {{k.Rating}}/5</p>
            </div>
            <div class="img-box">
              <img src="/media/{{k.Image}}" alt="{{k.Image}}" class="box-img">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>

{% endblock main %}