{% extends "base.html" %}
{% block hero %}{% endblock hero %}
{% block main %}
<div class="container mt-4">
    <h2>Produtos</h2>

    <a href="{% url 'item_add' %}" class="btn btn-primary mb-3">Adicionar Novo Produto</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><img src="{{ item.image.url }}" width="60"></td>
                <td>{{ item.Item_name }}</td>
                <td>R${{ item.Price }}</td>
                <td>
                    <a href="{% url 'item_edit' item.id %}" class="btn btn-sm btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}