{% extends "base.html" %}
{% block hero %}{% endblock hero %}
{% block main %}
<div class="container mt-4">
    <h2>Products</h2>

    <a href="{% url 'item_add' %}" class="btn btn-primary mb-3">Add New Product</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><img src="{{ item.image.url }}" width="60"></td>
                <td>{{ item.Item_name }}</td>
                <td>${{ item.Price }}</td>
                <td>
                    <a href="{% url 'item_edit' item.id %}" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}