{% extends "base.html" %}
{% block class %}class="sub_page"{% endblock class %}
{% block menu_status %}active{% endblock menu_status %}
{% load static %}

{% block main %}

<section class="food_section layout_padding-bottom">
  <div class="container">

    <div class="heading_container heading_center">
      <h2>Nosso Cardápio</h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">Todos</li>
      {% for i in list %}
      <li data-filter=".{{i.Category_name}}">{{i.Category_name}}</li>
      {% endfor %}
    </ul>

    <div class="filters-content">
      <div class="row grid">

        {% for j in items %}
        <div class="col-sm-6 col-lg-4 all {{j.Category}}">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="/media/{{j.Image}}" alt="{{j.Image}}">
              </div>

              <div class="detail-box">
                <h5>{{j.Item_name}}</h5>
                <p>{{j.description}}</p>

                <div class="options">
                  <h6>R${{j.Price}}</h6>

                  <button class="btn btn-success add-to-cart" data-item-id="{{j.id}}"
                    data-require-login="{{ user.is_authenticated }}">
                    Adicionar ao Carrinho
                  </button>

                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="btn-box">
      <a href="">Ver Mais</a>
    </div>

  </div>
</section>

<script>
  document.querySelectorAll('.add-to-cart').forEach(button => {
    button.addEventListener('click', function () {

      const requiresLogin = this.getAttribute('data-require-login');

      if (requiresLogin === "False") {
        alert("Você precisa estar logado para adicionar itens ao carrinho.");
        window.location.href = "{% url 'login' %}";
        return;
      }

      const itemId = this.getAttribute('data-item-id');

      fetch('/add-to-cart/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFTOKEN': '{{ csrf_token }}'
        },
        body: `item_id=${itemId}`
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            const badge = document.getElementById('cart-count');
            if (badge) badge.innerText = data.cart_count;
            alert(data.message);
          } else {
            alert(data.message);
          }
        });

    });
  });
</script>

{% endblock main %}