{% extends "base.html" %}
{% block hero %}{% endblock hero %}
{% block main %}

<section class="layout_padding">
    <div class="container">
        <h2>Meus Pedidos</h2>

        {% if orders %}
        {% for order in orders %}

        <div class="card p-3 my-3">
            <h4>Pedido #{{ order.id }} — R${{ order.total }}</h4>
            <p>Data: {{ order.created_at|date:"d/m/Y - H:i" }}</p>

            <span class="badge badge-{{ order.is_paid|yesno:'success-danger' }}">
                {{ order.is_paid|yesno:"Pago,Pendente" }}
            </span>

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Qtd</th>
                        <th>Preço</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.item.Item_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>R${{ item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        {% endfor %}
        {% else %}
        <p>Você ainda não fez nenhum pedido.</p>
        {% endif %}

    </div>
</section>

{% endblock %}