{% extends "base.html" %}
{% block hero %}{% endblock hero %}
{% block main %}

<div class="container mt-4">
    <h2>Gerenciamento de Pedidos</h2>

    <div class="table-responsive mt-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Data</th>
                </tr>
            </thead>

            <tbody>
                {% for o in orders %}
                <tr>
                    <td>{{ o.id }}</td>
                    <td>{{ o.user.username }}</td>
                    <td>R${{ o.total }}</td>
                    <td>{{ o.is_paid|yesno:"Pago,Pendente" }}</td>
                    <td>{{ o.created_at|date:"d/m/Y H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}