{% extends "base.html" %}
{% block hero %}{% endblock hero %}
{% load cart_extras %}
{% block class %}class="sub_page"{% endblock class %}
{% block main %}

<section class="layout_padding">
    <div class="container">

        <h2>Pedido Realizado com Sucesso 🎉</h2>
        <h4>Pedido #{{ order.id }}</h4>
        <p>Realizado em: {{ order.created_at }}</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qtd</th>
                    <th>Preço</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                {% for i in items %}
                <tr>
                    <td>{{ i.item.Item_name }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>R${{ i.price }}</td>
                    <td>R${{ i.quantity|multiply:i.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Total Pago: R${{ order.total_price }}</h3>

        <a href="{% url 'Home' %}" class="btn btn-success">Voltar ao Início</a>

    </div>
</section>

{% endblock %}